@charset "utf-8";

[class*="span"] {
    min-height: 1px;
}

body {
    background: #F4FCF4;
}

.navbar {
	/*background: #fff !important;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05) !important;
	border-bottom: 1px solid #ddd;*/
}

#content .page-nav {
  margin-bottom: 10px;
  float: left;
  margin-right: 1em;
}
#content .list-nav {
  margin-bottom: 10px;
  float: left;
}

#content .view-change-nav {
  margin-bottom: 10px;
  height: 35px;
}

.form-control-static:empty:after {
	display: block;
	content: "　";
}
.form-group.required .control-label:before {
  content: "*";
  color: red;
}
#footer {
  width: 100%;
  /*margin-top: 40px;*/
  bottom: -70px;
  padding: 10px 0 5px 0;
  color: #FFFFFF;
  font-size: 80%;
  text-align: right;
  background-color: #1a915b;
}

.align-right {
	text-align: right;
}

/** DBアイコン（選択時） **/
img.icon {
  max-width: 100px !important;
}
/** ラジオボタンを縦並びにするためのクラス */
.checkbox-block,
.radio-block {
	display: block;
	vertical-align: middle;
	font-weight: 400;
	cursor: pointer;
}
.checkbox-block input,
.radio-block input {
	margin-right: 4px;
}

/** フィールド一覧のアイコン **/
.fielditem {
	background-position: 5px 8px;
	background-repeat: no-repeat;
	text-indent: 18px;
}
.fielditem-text { background-image: url(../img/fielditems/text.png); }
.fielditem-multitext { background-image: url(../img/fielditems/multitext.png); }
.fielditem-richtext { background-image: url(../img/fielditems/richtext.png); }
.fielditem-number { background-image: url(../img/fielditems/number.png); }
.fielditem-calc { background-image: url(../img/fielditems/calc.png); }
.fielditem-radio { background-image: url(../img/fielditems/radio.png); }
.fielditem-checkbox { background-image: url(../img/fielditems/checkbox.png); }
.fielditem-dropdown { background-image: url(../img/fielditems/dropdown.png); }
.fielditem-date { background-image: url(../img/fielditems/date.png); }
.fielditem-time { background-image: url(../img/fielditems/time.png); }
.fielditem-datetime { background-image: url(../img/fielditems/datetime.png); }
.fielditem-datecalc { background-image: url(../img/fielditems/datecalc.png); }
.fielditem-file { background-image: url(../img/fielditems/file.png); }
.fielditem-link { background-image: url(../img/fielditems/link.png); }
.fielditem-relational { background-image: url(../img/fielditems/relational.png); }
.fielditem-relational_input { background-image: url(../img/fielditems/relational.png); }
.fielditem-lookup { background-image: url(../img/fielditems/lookup.png); }
.fielditem-label { background-image: url(../img/fielditems/label.png); }
.fielditem-space { background-image: url(../img/fielditems/space.png); }
.fielditem-line { background-image: url(../img/fielditems/line.png); }
.fielditem-rownum { background-image: url(../img/fielditems/rownum.png); }
.fielditem-created_by { background-image: url(../img/fielditems/created_by.png); }
.fielditem-created_on { background-image: url(../img/fielditems/created_on.png); }
.fielditem-updated_by { background-image: url(../img/fielditems/updated_by.png); }
.fielditem-updated_on { background-image: url(../img/fielditems/updated_on.png); }
.fielditem-user_selector { background-image: url(../img/fielditems/user_selector.png); }
.fielditem-tab_group { background-image: url(../img/fielditems/tab_group.png); }

/**
 *  検索可能なselect.
 *  See select2.js
 **/
.select2-container.select2-container-multi {
	width: 100%;
}
img.select-icon {
  width: 16px !important;
  margin-right: 5px;
}

/**
 *  ファイル参照ボタンにモーダルのスクロールを邪魔させないための指定.
 *  See jquery.fileupload.css
 **/
.fileinput-button input
{
	font-size: 20px !important;
}

/**
 *  モーダルにドロップダウンメニューのクリックを邪魔させないための指定（特にAndroid）.
 *  see bootstrap.css
 **/
.modal.fade .modal-dialog {
  -webkit-transform: none !important;
      -ms-transform: none !important;
          transform: none !important;
}
.modal.in .modal-dialog {
  -webkit-transform: none !important;
      -ms-transform: none !important;
          transform: none !important;
}
/**
 *  ローディング中のオーバーレイの表示.
 *  See base.js, jquery.blockUI.js
 **/
.blockMsg .modal {
	display: block;
	top: auto;
	bottom: auto;
	overflow: auto;
	width: 100%;
}
.blockMsg .modal-dialog {
	width: 200px;
	margin-right: auto;
	margin-left: auto;
}
.blockMsg .modal-content {
	-webkit-box-shadow: none;
	box-shadow: none;
}
