/*  タブレット・スマホ
------------------------------------*/

@media screen and (max-width:550px){
  .date-control-nav form.date-selector {
    width:100% !important;
    margin: 0 5px;
  }
  .primary-nav .date-control-nav {
    width: 100% !important;
  }
  #import-nav-container {
    margin-right: 0 !important;
  }
}

@media screen and (max-width:640px){
  #condition-selector {
    width: 120px !important;
  }
}

@media screen and (max-width:767px){
  #header .navbar-default{
    background-image: url(../asset/img/header-bg_max768.png);
  }
  #header #logo{height: auto;padding: 1em;
    text-align: left;
    float: left;
    margin: 10px 0 0 0;
    display: block;
    width: 75%;
    padding: 0 10px 0 0;
  }
  #header #logo img{
    max-width: 100%;
    height: auto;
    width: inherit;
    padding: 0.3em 0 0 0;
  }
  .navbar-header{
    padding: 0 0 10px 0;
  }
  #toggle-button{
    width: 70px;
    margin: 5px 0 0;
  }
  .icon-bar{
    width: 100%;
    height: 3px;
    margin-bottom: 5px;
    background-color: #FFF;
  }
  #toggle-button .nav{
    color: #FFF;
  }
  #navbar-text{
    margin-right: 10px;
    display: inline;
  }
  #logout-box{
    text-align: right;
    border-top: 1px solid #458863;
    padding-top: 0.5em;
  }
  .effect1{margin-bottom: 0;}
  .navbar-default .navbar-nav>li>a{background: none;border: none;margin-bottom: 3px;border-radius: 0.5em}
  #logout-box a.dropdown-toggle{color:#fff;}
  #logout-box .dropdown-menu{
    width: 50%;
    left: 50%;
  }
  .db-list_content{
    border: solid 8px #4BE4DE;
  }
  .db-design_content{
    border: solid 8px #B3EC75;
  }
  .db-notification_content{
    border: solid 8px #ECCB58;
  }
  .user-selector-nav {
    margin-right: 1em;
    margin-bottom: 4px;
    width: 100%;
  }
  .date-control-nav form.date-selector {
    margin-right: 1em;
    margin-left: 0;
    width: 50%;
  }
  .primary-nav .date-control-nav {
    width: 70%;
  }
  .list-nav .form-inline .form-group {
    display: inline-block;
    vertical-align: middle;
  }
  #condition-selector {
    display: inline-block;
    width: 160px;
  }
  #limitselector {
    display: inline-block;
    width: 120px;
  }
}

/*  PC時
------------------------------------*/
@media (min-width:768px){
  #header .navbar-default{
    background-image: url(../asset/img/header-bg.png);
  }
  #header #logo{height: auto;padding: 0.5em 0.5em 0 0.5em;
  }
  #header #logo img{width: 230px;}
  .effect1{
    margin-bottom: 0;
  }
  #logout-box{
    font-size: 120%;
    border-left: solid 1px #358B29;
    height: 55px;
  }
  #logout-box a.dropdown-toggle{padding:1em 0.5em 0.8em 1em;display:block;color:#fff;}
  #logout-box a.dropdown-toggle:hover{text-decoration: none;color:#95C58E;}
  #logout-box .logout{
    border-top: 1px solid #E6E6E6;
  }
  /*#logout-box .dropdown-menu li{padding:5px;}*/
}
@media (min-width:768px) and (max-width:969px){
  #header .navbar-nav{
    font-size: 100%;
  }
  #header .navbar-nav li {
    max-width: 140px;
  }
  #header .dropdown-menu li {
    max-width: 100%;
  }
  #header .navbar-nav li a {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  #header .navbar-nav li a.db-notification .hidetsuuchi {
    display: none;
  }
  .navbar-default .navbar-nav>li>a.db-notification {
    height: 48px;
  }
  #filterModal .modal-dialog {
    width: 95%;
  }
  .user-selector-nav {
    margin-right: 2em;
    margin-bottom: 4px;
   }
  .date-control-nav form.date-selector {
    margin-right: 2em;
    margin-left: 0;
  }
  .primary-nav .date-control-nav {
    width: 70%;
  }

}

@media (min-width:970px) and (max-width:991px) {
  #header .navbar-nav li a {
    padding: 1em;
  }
  #header .dropdown-menu>li>a {
    padding: 3px 20px;
  }
  .primary-nav .date-control-nav{
    width: 70%;
  }
  .user-selector-nav {
    margin-right: 2em;
    margin-bottom: 4px;
   }
  .date-control-nav form.date-selector {
    margin-right: 2em;
    margin-left: 0;
  }
}

@media (min-width:992px) and (max-width:1199px){
  #header .navbar-nav{
    font-size: 120%;
  }
  #header .navbar-nav li a.db-notification .hidebellicon {
    display: none;
  }
  #filterModal .modal-dialog {
    width: 95%;
}
  .user-selector-nav {
    margin-right: 0.5em;
  }
  .date-control-nav form.date-selector {
    width:60%;
    margin-right: 0.5em;
  }
  .primary-nav .date-control-nav{
    width: 45%;
  }
  #content nav.list-nav {
    width: 40%;
    margin-bottom: 0;
  }
}

@media (min-width:1200px){
  #header .navbar-nav{
    font-size: 120%;
  }
  #header .navbar-nav li a.db-notification .hidebellicon {
    display: none;
  }
  #filterModal .modal-dialog {
    width: 95%;
  }
  .user-selector-nav {
    margin-right: 4em;
  }
  .date-control-nav form.date-selector {
    margin-right: 4em;
  }
}

#header{
}
#content{
  padding-top: 1em;
}
/*　ヘッダー　*/
#bs-example-navbar-collapse-1 > ul{
  font-weight: bold;
}
.section-header h4 {
  color: #267035;
  font-weight: bold;
}
.section-header h4 i {
  font-size: 120%;
}
.navbar-default .navbar-nav>.active>a.db-list{
  background-color: #4BE4DE;
  color: #333;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.7);
}
.navbar-default .navbar-nav>li>a.db-list:hover,
.navbar-default .navbar-nav>li>a.db-list:focus,
.navbar-default .navbar-nav>.active>a.db-list:hover,
.navbar-default .navbar-nav>.active>a.db-list:focus {
  background-color: #B6FFFC;
}
.navbar-default .navbar-nav>.active>a.db-design{
  background-color: #B3EC75;
  color: #333;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.7);
}
.navbar-default .navbar-nav>li>a.db-design:hover,
.navbar-default .navbar-nav>li>a.db-design:focus,
.navbar-default .navbar-nav>.active>a.db-design:hover,
.navbar-default .navbar-nav>.active>a.db-design:focus {
  background-color: #D9FFB0;
}

.navbar-default .navbar-nav>.active>a.db-notification{
  background-color: #ECCB58;
  color: #333;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.7);
}

.navbar-default .navbar-nav>li>a.db-notification:hover,
.navbar-default .navbar-nav>li>a.db-notification:focus,
.navbar-default .navbar-nav>.active>a.db-notification:hover,
.navbar-default .navbar-nav>.active>a.db-notification:focus {
  background-color: #FFE792;
}


/* 通常時 */
.navbar-default .navbar-nav>li>a.db-list{
  background-color: #4BE4DE;
  color: #333;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.7);
}
.navbar-default .navbar-nav>li>a.db-design{
  background-color: #B3EC75;
  color: #333;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.7);
}
.navbar-default .navbar-nav>li>a.db-notification {
    background-color: #ECCB58;
    color: #333;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.7);
}

.navbar-default .navbar-nav>li>a.db-notification .global-notifications-count-wrapper {
  background-color: #ff0000;
}


/* 設計・一覧ページ上部
List:#4BE4DE
Design:#B3EC75
------------------------- */
#page-nav_top{}
/*設計ページ*/
.db-design_top #db-design_top{
  background-color: #B3EC75;
}
.db-design_top #db-design_top .container{
  padding: 0.5em 15px;
  font-size: 120%;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.7);
}
/*データベース一覧*/
.db-list_top #db-list_top{
  background-color: #4BE4DE;
}
.db-list_top #db-list_top .container{
  font-size: 120%;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.7);
  padding: 0.5em 15px 0.5em 15px;
}

/*通知一覧*/
/*
.db-notification_top #db-notification_top{
  background-color: #00532F;
}
.db-notification_top #db-notification_top .container{
  font-size: 120%;
  font-weight: bold;
  color: #FFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7);
  padding: 0.5em 15px 0.5em 15px;
}
*/

/*通知一覧*/
.db-notification_top #db-notification_top{
  background-color: #ECCB58;
}
.db-notification_top #db-notification_top {
  font-size: 120%;
  font-weight: bold;
  color: #333;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.7);
  padding: 0.5em 15px 0.5em 15px;
}


/*　DB設定 新規作成 DBの基本設定　*/
.form-control-static {
  /*font-size: 115%; */
  font-size: 130%;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 5px;
}

.modal-body .form-group {
  margin-bottom: 0.5em;
}

.modal-body .radio, .modal-body .checkbox {
  margin-top: 3px;
  margin-bottom: 3px;
}

.form-group>label,
.field-tab_group>.header>label{
  /* font-size: 140%; */
  font-size: 105%;
  /* width: 70%; */
  /* padding-right: 15%; */
  clear: both;
  float: none;
  text-align: left!important;
  padding-left: 0;
  color: #385549;
  margin-top: 5px;
  margin-bottom: 0px;
}

.bs .form-group>label,
.bs .field-tab_group>.header>label{
  float: left;
}

.form-group>label:after,
.field-tab_group>.header>label:after{
  content:"";
  display: block;
  width: 100%;
}
.form-group .radio {
  margin: 5px;
}
.form-group {
    margin-bottom: 2em;
    overflow: hidden;
}
.big-btn{
  padding: 10px;
  font-size: 120%;
  color: #fff;
}
.save{
  border: 1px solid #244597!important;
  background: #264FB8!important;
}
.big-btn.save{
  border: 1px solid #244597!important;
  background: #264FB8!important;
}
.big-btn.save:hover{
  background: #244597;
}
.big-btn.cancel{
  background: #DB7676!important;
  border: 1px solid #AC4848!important;
}
.big-btn.preview{
  background: #449C4F!important;
  border: 1px solid #2D722D!important;
}

ul#tx-items li {
margin-bottom: 3px;
}

/*
.form-group>label:before{
    content: "\f0da";
    font-family: FontAwesome;
   margin-right: 5px;
}*/
.set-up p{
  display: inline-block;
  }
.set-up .form-group {
margin-bottom: 0.5em;
}


/*レコード追加・修正*/
.db-record_block{
  margin-bottom: 0;
}
.db-record_block div{
}

/*ユーザー*/
.user-block{
  padding-left: 2.5em;
}
.user-block label{
  margin-bottom: 0.5em!important;
}
.user-block form>div>div{
  padding-left: 0;
}


/*
#footer {
bottom: 0;
position: absolute;
}*/

.field-label h1{
  font-size: 180%;
  color: #5A805D;
  background-color: #D7EED9;
  padding: 0.5em;
  margin: 0;
}
.field-label h2{
  font-size: 160%;
  color: #5A805D;
  background-color: #D7EED9;
  padding: 0.5em;
  margin: 0;
  }



  /* 一覧時 */
#db-common{}
  .db-common-parts{}
  .caption{}
#db-alone .db-alone-parts .caption,
#db-common .db-common-parts .caption{
  text-align: center;
  padding: 0;
}


/*  データベース入力
    my/data/data_index.tpl */
/* 表示・編集ボタン */
.table-striped tbody .hyouji a{
  display: block;
  border-radius: 0.3em;
  background-color: #4484D6;
  text-align: center;
  color: #FFF;
  padding: 3px;
  text-shadow: 1px 1px #295996;
}
.table-striped tbody .hyouji a:hover{
  text-decoration: none;
  background-color: #2F6DBD;
}
.table-striped tbody .henshu a{
  display: block;
  border-radius: 0.3em;
  background-color: #299E5D;
  text-align: center;
  color: #FFF;
  padding: 3px;
  text-shadow: 1px 1px #295996;
}
.table-striped tbody .henshu a:hover{
  text-decoration: none;
  background-color: #177F45;
}
/* タイトル */
/*
.database-title h3{
  background-color: #FFFFFF;
  padding: 0.5em;
  margin: 0 0 20px 0;
  border: 1px dotted #4DB367;
  color: rgb(51, 131, 57);
}
*/

.database-title h3{
  background-color: #4169e1;
  padding: 0.5em;
  margin: 0 0 20px 0;
  border: 1px outset #FFF;
  color: #FFF;
}

/* 20150604 UI変更 */
.page-nav_block{
  display: block;
  overflow: hidden;
}
.clearfix {
  clear: both;
}

#content .page-nav.affix-top {
  float: none;
}
#content .page-nav.affix-bar {
  float: none;
  margin-right: 0;
}
/* 20150626 UI変更 */
.form-group.field-radio.required .controls{
  font-size: 140%;
  padding:3px;
}
.form-group .form-control{
  font-size: 19px!important;
}


#group-import-form1 .form-group .form-control,
#group-import-form2 .form-group .form-control,
#user-import-form1 .form-group .form-control,
#user-import-form2 .form-group .form-control,
#data-export-form .form-group .form-control,
#data-import-form1 .form-group .form-control,
#data-import-form2 .form-group .form-control,
#filterModal .form-group .form-control,
#calendar-settings-form .form-group .form-control,
#notification-settings-form .form-group .form-control,
#config-form .form-group .form-control {
  font-size: 16px!important;
}

.conditional-rules .form-group .form-control{
  font-size: 16px!important;
}

.select2-container-multi .select2-choices .select2-search-choice{
  font-size: 16px;
}
.date-control-nav{
  width: 40%;
}
.date-control-nav form{
  width:50%;
  margin: 0 5px;
}
.form-inline.pull-left{
}
.form-inline.pull-left .input-group{
  float: left;

}
.date-control-nav .prev-week-btn.btn.btn-primary,
.date-control-nav .next-week-btn.btn.btn-primary{
margin:0;
padding:5px;
}
/*
.field-lookup .form-control-static a:empty:after {
  display: block;
  content: " ";
  white-space: pre-wrap;
}
*/
.emptylink:after {
  display: block;
  content: "　";
  white-space: pre-wrap;
}

/**
 * タブグループフィールド
 */
.field-tab_group {
	margin-bottom: 14px;
}
.field-tab_group > .nav-tabs {
	border-radius: 4px 4px 0px 0px;
	background-color: #D7EED9;
	border: 1px solid #a6c2a4;
	padding: 5px 5px 0px;
}
.field-tab_group > .nav-tabs > li > a {
	outline: none;
	box-shadow: 0px -1px 1px rgba(0,0,0,.05) inset;
	background-color: #F0FAF2;
	border-color: #a6c2a4;
	color: #2c662d;
}
.field-tab_group > .nav-tabs > li > a:hover {
	background-color: #F8FDF8;
}
.field-tab_group > .nav-tabs > li.active > a {
	box-shadow: 0px 0px 0px rgba(0,0,0,0);
	border-color: #a6c2a4;
	border-bottom-color: #ffffff;
	background-color: #ffffff;
  color: #f44;
  font-weight: bold;
}
.field-tab_group > .nav-tabs > li.active > a:hover {
	border-color: #a6c2a4;
	border-bottom-color: #ffffff;
	background-color: #ffffff;
  color: #f00;
}
.field-tab_group > .tab-content {
	border-radius: 0px 0px 4px 4px;
	border: 1px solid #a6c2a4;
	border-top-width: 0px;
	border-bottom-width: 2px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	padding-bottom: 10px;
}

.field-tab_group > .tab-content > .tab-pane {
	padding-top: 10px;
}

.field-tab_group > .tab-content > .tab-pane > .row {
	margin-left: 0px;
	margin-right: 0px;
}
.field-tab_group .field-tab-label.error span {
	color: #f00;
}




/*0709追記分*/
.comments h3,
.read-check h3{
font-size: 180%;
  color: #5A805D;
  background-color: #D7EED9;
  padding: 0.5em;
  margin: 0 0 10px 0;
  border: solid 5px #fff;
  /* outline: 1px solid #ccc; */
  box-shadow: 0 0 0 1px #ccc;
  border-radius: 5px;
}
.panel{
  margin-bottom: 10px;
}

/*0714追記*/
.breadcrumb{
    margin-bottom: 10px;
}

/*0715追記*/
ol.breadcrumb{
    /* display: none; */
}

.db-notification .badge {
  vertical-align: top;
}
#limit-selector-nav label {
  width: auto;
  color: #000;
  font-size: 14px;
}

#limit-selector-nav {
  margin-bottom: 10px;
}

#limitselector {
  font-size: 14px !important;
}

#number-of-records-nav {
  height: 34px;
  line-height: 34px;
  margin-bottom: 10px;
}
