body{
  margin: 0;
  padding: 0;
  background: url(../asset/img/login-bg2.jpg) no-repeat center top;
}

#login{
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
}
#login h1{
  text-align: center;
  margin-top: 1.5em;
}
#login h1 img{
  max-width: 100%;
}
#content {
  margin: 50px auto 0 auto;
  background: #fff;
  padding: 40px;
  border-radius: 0.5em;
  max-width: 430px;
}
.form-control{
  height: auto;
  padding: 0.8em 0.5em;
  
}
#login-button{
  background-color: #0b7b4b;
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.5);
  margin-top: 2em;
}
#login-button:hover{
  background-color: #056037;
}
#footer{
  bottom:0;
  position: absolute;
}

.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}   