.navbar.navbar-default.effect1 {
  background: none !important;
  background: #ffffff !important;
  color: #000000 !important;
}
@media (min-width:768px) {
  #header .navbar-default {
    background: none !important;
  }
  #logout-box a.dropdown-toggle {
    color: #989898 !important;
  }
  #logout-box {
    border-left: solid 1px #C5C5C5 !important;
  }
}
.navbar-default {
  background: none !important;
  background-color: #FFFFFF !important;
  border-color: #FFFFFF !important;
}
@media (max-width:767px) {
  #header .navbar-default {
    background: none !important;
    background: #ffffff !important;
    color: #333333 !important;
  }
  #toggle-button .nav {
    color: #A6A6A6 !important;
  }

.db-list_content {
  border: solid 8px #777777;
}}
.navbar-default .navbar-toggle {
  border-color: #D0D0D0 !important;
  border: solid 1px #cccccc !important;
}
.navbar-toggle {
  background: none !important;
  background-color: #FFFFFF !important;
  background: #ffffff !important;
}
.navbar-toggle:hover, .navbar-toggle:active {
  background: none !important;
  background: #cccccc !important;
}
.navbar-toggle:hover .icon-bar, .navbar-toggle:active .icon-bar {
  background-color: #ffffff !important;
}
#toggle-button:hover .nav, #toggle-button:active .nav {
  color: #ffffff !important;
}
.navbar-default .navbar-toggle .icon-bar {
  background: none !important;
  background-color: #C8C8C8 !important;
}
#footer {
  color: #545454 !important;
  background: none !important;
  background: #ffffff !important;
}
#footer .container p {
  display: none !important;
}
#footer .container:after {
  content: "2015 SHINGI CORPORATION DB Co.Ltd. All rights reserved.";
  display: block !important;
  color: #333333 !important;
}
body {
  background: #FFFFFF;
  background: #ffffff !important;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: none !important;
  background-color: #E2E2E2 !important;
}
#login {
  background: none;
}
.btn.btn-lg.btn-primary.btn-block{
  background: #777777;
  border:solid 1px #777777;
}
.btn.btn-lg.btn-primary.btn-block:hover{
  background: #999999;
}
@media (max-width:700px) and (min-width:481px) {
  #login {
    background: none;
  }
}
@media (max-width:480px) {
  #login {
    background: none;
  }
}

.navbar-default .navbar-nav>.active>a.db-list,
.navbar-default .navbar-nav>li>a.db-list{
  background: #777777;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7);
}
.db-list_top #db-list_top {
  background-color: #777777;
}
.db-list_top #db-list_top .container {
  font-size: 120%;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7);
  padding: 0.5em 15px 0.5em 15px;
  color:#ffffff;
}


.navbar-default .navbar-nav>li>a.db-design,
.navbar-default .navbar-nav>.active>a.db-design,
.db-design_top #db-design_top{
  background-color: #999999;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7);
}

.navbar-default .navbar-nav>li>a.db-notification,
.navbar-default .navbar-nav>.active>a.db-notification,
.db-notification_top #db-notification_top {
  background-color: #CCCCCC;
  color: #000000;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.7);
}

.navbar-default .navbar-nav>li>a.db-list:hover,
.navbar-default .navbar-nav>.active>a:hover{
  background: #888888;
}
.navbar-default .navbar-nav>li>a.db-design:hover{
  background: #666666;
}
.navbar-default .navbar-nav>li>a.db-notification:hover{
  background: #444444;
}

.section-header h4{
  color:#666666;
}

.btn-default{
  color: #fff;
  background-color: #777777;
  border-color: #666666;
}
.btn-default:hover, .btn-default:focus, .btn-default:active{
  color: #fff;
  background-color: #999999;
  border-color: #666666;
}

.db-design_top #db-design_top .container {
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7);
}
@media (max-width: 767px){
.db-list_content {
  border: solid 8px #777777;
}
.db-design_content {
  border: solid 8px #999999;
}
.db-notification_content{
  border: solid 8px #CCCCCC;
}
#logout-box {
  border-top: 1px solid #777777;
}
#logout-box a.dropdown-toggle {
  color: #000;
}
}

.navbar-default .navbar-nav>li>a.db-list:hover, .navbar-default .navbar-nav>li>a.db-list:focus, .navbar-default .navbar-nav>.active>a.db-list:hover, .navbar-default .navbar-nav>.active>a.db-list:focus {
  background-color: #888888;
}
.navbar-default .navbar-nav>li>a.db-design:hover, .navbar-default .navbar-nav>li>a.db-design:focus, .navbar-default .navbar-nav>.active>a.db-design:hover, .navbar-default .navbar-nav>.active>a.db-design:focus {
  background-color: #B6B6B6;
}

.navbar-default .navbar-nav>li>a.db-notification:hover, .navbar-default .navbar-nav>li>a.db-notification:focus, .navbar-default .navbar-nav>.active>a.db-notification:hover, .navbar-default .navbar-nav>.active>a.db-notification:focus {
  background-color: #D6D6D6;
}

