.form-group>label,
.field-tab_group>.header>label{
  font-weight: normal;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: normal;
}
.field-tab_group > .nav-tabs > li.active > a {
  font-weight: normal;
}

th {
  font-weight: normal;
}

.form-group .form-control {
  font-weight: 600;
}

.form-control-static {
  font-weight: 600;
}