/**
 * iOS workarounds
 */

/*
 * On iOS 8.x, if there are ckeditors in a Bootstrap's hidden tab,
 * something disturbs drawing of editor content when the tab shows.
 * It seems a tab-pane's style 'display:none' causes this problem.
 * So override the style as following:
 */
.field-tab_group > .tab-content > .tab-pane {
    height: 0px!important;
    overflow: hidden!important;
    display: block!important;
}
.field-tab_group > .tab-content > .tab-pane.active{
    height: auto!important;
    overflow: visible!important;
    display: block!important;
}
