
.field-number input,
.field-calc input {
	text-align: right;
}
/*
.field-date, .field-time {
	max-width: 230px !important;
}
.field-datetime {
	max-width: 400px !important;
}
.field-number input,
.field-calc input {
	max-width: 300px !important;
}*/

.field-file {
	word-break: break-all;
}

.field-relational_input .header-controls {
	float: right!important;
	margin: 0px 5px 3px 0;
}

.field-relational_input .nested-row-controls {
	text-align: right;
	/* width: 150px; */
}

.form .row > div > .form-group {
	margin-bottom: 7px;
}

.datepicker .input-group-btn .btn,
.timepicker .input-group-btn .btn,
.datetimepicker .input-group-btn .btn {
	color: #555 !important;
	background-color: #eee !important;
	border-color: #ccc !important;
}

/**
 * see: bootstrap-datetimepicker.js
 **/

.bootstrap-datetimepicker-widget.pull-right:before {
	right: 72px !important;
}

.bootstrap-datetimepicker-widget.pull-right:after {
	right: 73px !important;
}

.affix-top {

}

.affix {
	-webkit-transition: background-color 0.1s linear 0s;
	   -moz-transition: background-color 0.1s linear 0s;
	    -ms-transition: background-color 0.1s linear 0s;
	     -o-transition: background-color 0.1s linear 0s;
	        transition: background-color 0.1s linear 0s;
	position: fixed;
	top: 0;
	background: #fff;
	z-index: 3;
	width: 400%;
	padding: 10px;
	background: #fff;
	background: rgba(255, 255, 255, 0.95);
	border-bottom: 1px solid #ccc;
	/* ネガティブマージンを使ってwith:100%のように見せ、ボタンの位置は合わせる */
	margin-left: -500px;
	padding-left: 500px;
}
.affix ~ .panel-list {
	margin-top: 80px;
}

.bottom-navbar {
	padding-bottom: 50px;
}

#row-header-menu-space.extension-point {
	display: inline-block;
}
