/*
.data-view-panel .control-label {
	border-left: 4px solid #00A4D3;
	padding-left: 10px;
}
*/
.data-view-panel .row > div > .form-group {
	margin-bottom: 0;/*margin-bottom: 1em;*/
}

.comment {
	background-color: #fff;
	border: 1px solid #B3D2CD;
	border-radius: 8px;
	padding: 15px 15px 5px 20px;
	margin-bottom: 17px;

	position: relative;
}
.comment:before {
	content: "";
	position: absolute;
	top: 55px;
	left: -12px;
	margin-top: -12px;
	width: 0;
	height: 0;
	border-right: 12px solid #B3D2CD;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}
.comment:after {
	content: "";
	position: absolute;
	top: 55px;
	left: -10px;
	margin-top: -10px;
	width: 0;
	height: 0;
	border-right: 10px solid #fff;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	clear: both;
}
.comment h4 {
	font-size: 16px;
	margin: 0.2em 0 0.1em 0;
	float: left;
}
.comments .posted-time {
	font-size: 14px;
	margin-top: 3px;
	color: #828282;
	float: right;
}
.comment hr {
	margin-top: 2px;
	margin-bottom: 10px;
	border-color: #B3D2CD;
}
.comment .notification-targets {
	color: #0A7B4C;
}
.comment .comment-content {
	float: left;
}
.comment .nav {
	float: right;
	margin-bottom: 10px;
}
.comments {
	/*margin-top: 40px;*/
}
.comments > .panel {
	/* padding: 20px; */
	border: solid 1px #E3E5E3;
}
.comments label {
	border: none !important;
}
.comments label:after {
	display: none;
}
.comment .nav {
	/* margin-top: 20px; */
}

.comments .comment-form-wrapper {
	padding: 20px;
}

.comments .comment-list-wrapper {
	background-color: #E1EEE5;
	/* border: solid 1px #E3E5E3; */
	/* border-top: none; */
	padding: 30px 20px 20px 30px;
}


.affix-top {

}

.affix {
	position: fixed;
	top: 0;
	background: #fff;
	z-index: 3;
	width: 100%;
	padding: 10px;
}
.affix ~ .container {
	margin-top: 55px;
}

.affix-bar {
	margin-top: -1em;
	border: 1px solid #ffe373;
	padding: 10px 0px 10px 0px;
	background-color: #ffffc9;
}

.affix.affix-bar {
	margin-top: 0em;
	-webkit-transition: background-color 0.1s linear 0s;
	   -moz-transition: background-color 0.1s linear 0s;
	    -ms-transition: background-color 0.1s linear 0s;
	     -o-transition: background-color 0.1s linear 0s;
	        transition: background-color 0.1s linear 0s;
	background: rgba(255, 255, 201, 0.95);
}

.notification .row,
.read-state .row{
	margin-right: 5px;
	margin-left: 5px;
}

.notification-btns {
	white-space: nowrap;
}
.notification-btn {
	display: inline;
}

.notification-btn a {
	display: inline-block;
	margin-bottom: 0;
	/* font-weight: 400; */
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	white-space: nowrap;
}
.notification-text {
	display: inline-block;
	margin-bottom: 0;
	/* font-weight: 400; */
	vertical-align: middle;
	background-image: none;
	border: 1px solid transparent;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
}
.notification-text .read-comment span {
	display: block;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.notification-btn-back a {
	color: #ffffff;
	background-color: #299e5d;
	font-size: 14px;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
	/* width: 100%; */
}
.notification-btn-back a:hover {
	color: #ffffff;
	background-color: #39ae6d;
	text-decoration: none;
}
.notification-btn-read a {
	color: #ffffff;
	background-color: #4484d6;
	font-size: 14px;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
	/* width: 100%; */
}
.notification-btn-read a:hover {
	color: #ffffff;
	background-color: #5494e6;
	text-decoration: none;
}

.notification-btn-unread a {
	color: #ffffff;
	background-color: #4484d6;
	font-size: 14px;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
	/* width: 100%; */
}
.notification-btn-unread a:hover {
	color: #ffffff;
	background-color: #5494e6;
	text-decoration: none;
}
.notification-info {
	/* color: #005934; */
	margin-top:3px;
	padding-top:3px;

	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.notification-notifier-wrapper {
	margin-left: 10px;
}
.notification-message {
	margin-top:3px;
	padding-top:3px;
}
.notification-message span{
	display: block;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.notification-btn-check {
	margin-left: 15px;
	margin-right: 15px;
}
.notification-btn-with-comment {
	margin-left: 10px;
}
.notification-btn-comment .form-control {
	width: 450px;
}
.notification-text-comment {
	padding-right: 200px;
	white-space: normal;
	width: 100%;
}
/*.notification-btn-comment {
	background: #fff;
	padding: 5px 8px;
	border: 1px solid #eee;
	border-radius: 5px;
}*/
.notification-text-check {
	color: #227417 !important;
}
.field-file > .form-control-static > ul {
  min-height: 12px;
}

.read-check .col-state {
	max-width: 100px !important;
}
.read-check tbody .col-state {
	color: #227417 !important;
}
.read-check .col-user {
}
.read-check .col-read-on{
}
.read-check .col-comment {
	width: 50% !important;

}
.read-check tbody .col-state {
	text-align: center;
}

@media (max-width:767px){
	.affix {
		margin-left: -7.5px;
	}
}

@media (max-width:868px){
	.notification-info {
		padding-top:0px;
	}
	.notification-message {
		padding-top:0px;
	}
	.notification-btn a {
		width: 80px;
		padding-left: 0px;
		padding-right: 0px;
		text-align: center;
	}
	.notification {
		font-size: 11px;
	}
	.notification-btn-text {
		display:none;
	}
	.notification-notifier-wrapper {
		display:block;
		margin-left: 0px;
	}
	.notification-time-wrapper {
		display:block;
		white-space: normal;
	}

	.form-control {
		display: inline !important;
		width: auto !important;
	}
	.notification-text-comment {
		padding-right: 100px;
	}
}

@media (min-width:481px) and (max-width:768px) {
	.notification-btn a {
		width: 60px;
		padding-left: 0px;
		padding-right: 0px;
		text-align: center;
	}
}

@media (max-width:480px) {
	.notification-btn a {
		width: 40px;
		padding-left: 0px;
		padding-right: 0px;
		text-align: center;
	}
	.notification-notifier-wrapper {
		display:none;
	}
}

@media (min-width:869px){
	.notification-btn-icon {
		display:none;
	}
}

#row-header-menu-space.extension-point {
	display: inline-block;
}

