.col-number,
.col-calc,
.col-rownum {
  text-align: right;
}

.col-file {
	word-break: break-all;
}

.col-file .thumbnail {
	border: none;
	background: transparent;
	margin-bottom: 2px;
}

.col-file .thumbnail img {
	margin-left: 0;
}

.col-aggregate_type {
	font-weight: bold;
}
/*
.sort-none .btn-sort:after {
    content: "\f0dc";
    font-family: FontAwesome;
}*/

.sort-desc .btn-sort:after {
    content: "\f0dd";
    font-family: FontAwesome;
}

.sort-asc .btn-sort:after {
    content: "\f0de";
    font-family: FontAwesome;
}

.txdb-table-label {
    cursor: pointer;
}
.col-comments-count {
    min-width: 35px;
    text-align: center;
}

td.col-comments-count i {
    /*
    color: #000;
    */
    /*
    overflow: visible;
    background: #ffffff;
    border-radius: 50%;
    height: 0.7em;
    width: 1em;
    text-indent: -0.05em;
    line-height: 0.7em;
    */
    background-image: url(../../img/comment.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 1.2em;
    width: 1.0em;
}

td.col-comments-count span {
	vertical-align: top;
}

.col-comments-count i:before {
	content:"";
}

.col-read-check {
	min-width: 35px;
	text-align: center;
}
.col-read-check .read-state {
	color: #A4BDB6;
	display: inline-block;
	padding: 5px 20px;
}
.col-read-check .read-users-count {
	display: inline-block;
}
.col-read-check .read-state.has-read {
	color: #227417 !important;
}

#readListModal tbody .col-state {
	text-align: center;
}

/*-- かれんだー **/

.calendar-block table {
	border-collapse:separate;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #C4C4C4;
	overflow: hidden;

}
.calendar-block table thead {
	background: #D4E7DA;
	border-bottom: 2px solid #A6C2A4;
}
.calendar-block table thead th {
	font-size: 20px;
	text-align: center;
	padding: 5px 0;
}
.calendar-block table thead th.today {
	background: #FFE373;
}
.calendar-block table tbody tr:nth-child(odd) td {
	background: #fff;
}
.calendar-block table tbody tr:nth-child(even) td {
	background: #E9F5EF;
}
.calendar-block table th,
.calendar-block table td {
	width: 12.5%;
	position: relative;
	word-break: break-all;
}
.calendar-block table td {
	padding: 5px 5px 12px 5px !important;
}
.calendar-block table tbody th {
	text-align: center;
	vertical-align: middle;
	font-size: 13px;
}
.calendar-block table tbody td:before {
	display: block;
	float: left;
	height: 67px;
	content: "";
}
.calendar-block table tbody tr:nth-child(odd) th {
	background: #E9F5EF;
}
.calendar-block table tbody tr:nth-child(even) th {
	background: #D4E7DA;
}
.calendar-block table tbody tr td.today {
	background: #FFFFC9;
}

.calendar-block .time {
	font-size: 11px;
}
.calendar-block .title {
	background: #60B383;
	display: block;
	color: #fff;
	min-height: 2em;
	padding: 3px;
	font-size: 11px;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	border: 1px solid #3A954A;
}
.calendar-block .today .title {
	background: #FF953B;
	border: 1px solid #FFBD52;
}
.calendar-block .add-btn {
	background: #fff !important;
	color: #707070;
	border: 1px solid #D6D6D6 !important;
	padding: 1px 6px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	       border-radius: 5px;
	position: absolute;
	bottom: 5px;
	right: 5px;
}

@media (max-width:768px) {
	.calendar-block .add-btn {
	}
}

.calendar-block .datepicker {
	max-width: 175px !important;
	width: 175px !important;
	margin-right: 20px;
}
.calendar-block .date-control-nav {
	margin-bottom: 23px;
}
.next-users-btn,
.prev-users-btn,
.next-users-btn:focus,
.prev-users-btn:focus,
.prev-week-btn,
.next-week-btn,
.prev-week-btn:focus,
.next-week-btn:focus {
	color: #0b7b4b;
	border: 1px solid #D6D6D6;
	background: #fff !important;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: bold;
	font-size: 15px;
	-webkit-border-radius: 100px;
	   -moz-border-radius: 100px;
	        border-radius: 100px;
	margin-right: 5px;
}

.next-users-btn[disabled],
.prev-users-btn[disabled] {
	color: #888;
	border: 1px solid #888;
}
.next-users-btn:hover,
.prev-users-btn:hover,
.prev-week-btn:hover,
.next-week-btn:hover {
	color: #fff !important;;
	background: #0b7b4b !important;
}

.datepicker .input-group-btn .btn,
.timepicker .input-group-btn .btn,
.datetimepicker .input-group-btn .btn {
	color: #555 !important;
	background-color: #eee !important;
	border-color: #ccc !important;
}

.primary-nav {
	margin-bottom: 10px;/*0714変更　45pxから10px*/
}
.primary-nav .select2-container {
	width: 300px !important;
	margin-right: 10px;
}

@media (min-width:768px) and (max-width:991px) {
	.primary-nav .select2-container {
		width: 600px !important;
	}
}

@media (min-width:992px) and (max-width:1199px) {
	.primary-nav .select2-container {
		width: 250px !important;
	}
}

.primary-nav .select2-choices {
	background: #fff !important;
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.primary-nav .select2-container-active .select2-choices {
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
	-moz-border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.secondary-nav {
	text-align: center;
	margin-bottom: 45px;
}

@media screen and (max-width:550px){
	.primary-nav .select2-container {
		/* width: 100px !important;*/
		width: 100% !important;
	}
}

@media (min-width:550px) and (max-width:768px) {
	.primary-nav .select2-container {
		/* width: 100px !important;*/
		width: 80% !important;
	}
}

@media (max-width:767px){
	.calendar-block table tbody td .btn-text {
		display:none;
	}
	.calendar-block table tbody td .title {
		text-align: center;
	}
	.calendar-block table thead th span {
		display:block;
	}
	.calendar-block table tbody td .time .time-end {
		display:block;
	}
}
@media (min-width:768px){
	.calendar-block table tbody td .btn-icon {
		display:none;
	}
}

/** Fixed header ------ */
.header-fixed {
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
}

.header-fixed .txdb-table-label {
	cursor: default !important;
}
