body{
  margin: 0;
  padding: 0;
  background-color: #dde4df;
}
html,body{
  height: 100%;
}
#wrap{
     width: 100%;
     position: relative;
     height:auto !important; /*IE6対策*/
     height: 100%; /*IE6対策*/
     min-height: 100%;
}
#login{
  background: url(../../asset/img/login-bg_b.png) no-repeat right top #dde4df;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  /*width: 1500px;*/
  background-size: contain;
}
#login h1{
  text-align: center;
  margin-top: 1em;
}
#login h1 img{
  max-width: 100%;
}
#content {
margin: 13% 0 0 25%;
float: left;
width: 23%;
}
#content .form-login{
}
.form-control{
  height: auto;
  padding: 0.8em 0.5em;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: none;
}
#login-button{
  background-color: #0b7b4b;
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.5);
  margin-top: 2em;
}
#login-button:hover{
  background-color: #056037;
}
#footer{
  /*position: relative;*/
  background: none;
color: #666;
text-align: center;
display: none;
}


.form-group>label {
font-size: 140%;
font-size: 105%;
color: #02643B;
width: 70%;
padding-right: 15%;
clear: both;
float: none;
margin-bottom: 0.5em;
border: none;
text-align: left!important;
padding-left: 0;
text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.7);
}
.form-group>label:after {
content: "";
display: none;
border-bottom: solid 2px #2B9E6E;
width: 100%;
}
.form-group{
  margin-bottom: 2em;
}






@media (max-width:480px){
  #login{
    background: url(../../asset/img/login-bg3.png) no-repeat center 8em #dde4df;
    background-size: contain;
  }
  #login h1{
    margin-top: 1em;
  }
  #content{
    margin: 0 auto;
    width: 80%;
    display: block;
    float: none;
  }
}
@media (min-width:481px) and (max-width:700px){
  #login{
    background: url(../../asset/img/login-bg3.png) no-repeat center 8em #dde4df;
    background-size: contain;
  }
  #login h1{
    margin-top: 0.3em;
  }
  #content{
    margin: 0 auto;
    width: 80%;
    display: block;
    float: none;
    padding: 0 0 0.5em 0;
  }
}
@media (min-width:701px) and (max-width:800px) {
#content {
  margin: 0 0 0 5%;
  width: 40%;
  padding: 1em 0;
  }
  #login h1{
    margin-top: 1em;
  }
}
@media (min-width:801px) and (max-width:1100px){
#content {
  margin: 5% 0 0 15%;
  width: 33%;
  }
}
@media (min-width:1101px) and (max-width:1499px){
  #login{
    background-size: contain;
  }
  #login h1 {
  text-align: center;
  margin-top: 1em;
  }
  #content {
    margin: 10% 0 0 20%;
    width: 28%;
    }
  }
}
@media (min-width:1500px){
  #login{
    width: 1500px;
  }
}

