
.db-list .thumbnail {

}
.db-list .thumbnail {
	border: none;
	background: transparent;
}
.db-list .thumbnail .caption {
	text-align: center;
}

.row > div {
	/* min-height: 200px; */
	height: 260px;
}