
.notification-search {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.notification-search-form {
    margin-bottom: 15px;
}
.notification-action-form {
    margin-bottom: 10px;
}
.notification {
    background-color: #ffffff;
    border-radius:5px;
    border:1px solid #c4c4c4;
    border-left:5px solid #005e34;
    padding: 10px 5px 10px 0px;
    font-size: 13px;
    color: #000;
    margin-bottom: 15px;
}
.notification hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: #c4c4c4;
}
.notification-title {
    font-size: 16px;
    color: #005934;
    margin-bottom: 1px;
}
.notification-info {
    text-align: right;
    color: #005934;
}
/*
.notification-notifier-wrapper {
    margin-left: 20px;
}
*/
.notification-message {
    margin-top:10px;
    margin-bottom:7px;
}
.notification-btn-open {
    margin-bottom: 5px;
}
.notification-btn-read {
    margin-top: 9px;
    margin-bottom: 5px;
}
.notification-btn-unread {
    margin-top: 9px;
    margin-bottom: 5px;
}
.notification-btn a {
    display: inline-block;
    margin-bottom: 0;
    /* font-weight: 400; */
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    /*white-space: nowrap;*/
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.notification-batch-actions {
    text-align:right;
}
.notification-batch-action a {
    color: #ffffff;
    background-color: #4484d6;
    font-size: 14px;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
}
.notification-batch-action a:hover {
    color: #ffffff;
    background-color: #5494e6;
    text-decoration: none;
}
.notification-btn-open a {
    color: #ffffff;
    background-color: #299e5d;
    font-size: 14px;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
    width: 100%;
}
.notification-btn-open a:hover {
    color: #ffffff;
    background-color: #39ae6d;
    text-decoration: none;
}
.notification-btn-read a {
    color: #ffffff;
    background-color: #4484d6;
    font-size: 14px;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
    width: 100%;
}
.notification-btn-read a:hover {
    color: #ffffff;
    background-color: #5494e6;
    text-decoration: none;
}
.notification-btn-unread a {
    color: #ffffff;
    background-color: #4484d6;
    font-size: 14px;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
    width: 100%;
}
.notification-btn-unread a:hover {
    color: #ffffff;
    background-color: #5494e6;
    text-decoration: none;
}

.col-notification {
    position: relative;
    min-height: 1px;

    float: left;
}

@media (max-width:567px){
    .notification-search {
        width: 280px;
    }
    .col-notification.col-checkbox {
        width: 35px;
        padding-left: 15px;
        padding-right: 0px;
    }
    .col-notification.col-content {
        width: 190px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .col-notification.col-action {
        width: 40px;
        padding-left: 5px;
        padding-right: 0px;
    }
}

@media (min-width:568px) and (max-width:767px){
    .notification-search {
        width: 528px;
    }
    .col-notification.col-checkbox {
        width: 35px;
        padding-left: 15px;
        padding-right: 0px;
    }
    .col-notification.col-content {
        width: 438px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .col-notification.col-action {
        width: 40px;
        padding-left: 5px;
        padding-right: 0px;
    }
}

@media (min-width:768px) and (max-width:919px){
    .notification-search {
        width: 740px;
    }
    .col-notification {
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-notification.col-checkbox {
        width: 35px;
    }
    .col-notification.col-content {
        width: 590px;
    }
    .col-notification.col-action {
        width: 100px;
    }
}

@media (min-width:920px){
    .notification-search {
        width: 900px;
    }
    .col-notification {
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-notification.col-checkbox {
        width: 35px;
    }
    .col-notification.col-content {
        width: 705px;
    }
    .col-notification.col-action {
        width: 145px;
    }
}

@media (max-width:767px){
    /*.notification-btn-icon {
        text-shadow: none;
    }
    .notification-btn-read .notification-btn-icon {
        color: #aaccee;
    }
    .notification-btn-unread .notification-btn-icon {
        color: #ffffff;
    }*/
    .notification-info {
        font-size: 11px;
        text-align: left;
    }
    .notification-btn-text {
        display:none;
    }
    /*
    .notification-notifier-wrapper {
        display:block;
        margin-left: 0px;
    }
    */
    .notification-time-wrapper {
        display:block;
    }
    .notification-field {
        font-size: 11px;
    }
    .notification-changes {
        font-size: 11px;
    }
    .notification-comment {
        font-size: 11px;
    }
}
@media (min-width:768px){
    .notification-btn-icon {
        display:none;
    }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
}
