/**
 * @see data_create.css
 */
.field-number input,
.field-calc input {
	text-align: right;
}

/*
.field-date, .field-time {
	max-width: 230px !important;
}
.field-datetime {
	max-width: 400px !important;
}
.field-number input,
.field-calc input {
	max-width: 300px !important;
}
*/

.datepicker .input-group-btn .btn,
.timepicker .input-group-btn .btn,
.datetimepicker .input-group-btn .btn {
	color: #555 !important;
	background-color: #eee !important;
	border-color: #ccc !important;
}

/**
 * see: bootstrap-datetimepicker.js
 **/

.bootstrap-datetimepicker-widget.pull-right:before {
	right: 72px !important;
}
 
.bootstrap-datetimepicker-widget.pull-right:after {
	right: 73px !important;
}

/**
 * form editor
 */
.pseudo-richeditor {
    border: 1px solid #b6b6b6;
}

.pseudo-richeditor-header {
    border-bottom: 1px solid #b6b6b6;
    padding: 6px 8px 2px;
    background: #eeeeee;
}

.pseudo-richeditor-header .btn {
	width: 28px !important;
	height: 26px !important;
	margin-bottom: 5px !important;
}

.pseudo-richeditor-body {
	overflow: hidden;
}

.tx-items-container li.disabled a {
	color: red;
}

.tx-items-container li.restricted a {
	cursor: default;
	color: #696;
	background-color: #0b5b2b;
}

.tx-items-container li.restricted a:hover {
	background-color: #0b5b2b;
}

.tx-items-container {
/* 	width: 210px; */
	margin: 0;
	padding: 0;
}

#tx-side-affix .panel-body {
	position: relative;
	height:100%;
	padding-right: 0px !important;
}

#tx-items {
	margin: 0px;
	padding: 0px;
	list-style: none;
	position: relative;
	overflow-y: scroll;
	overflow-x: visible;
	height:100%;
	background-color: #fff;
}

.tx-item {
	list-style: none;
	width: 90%;
/*  	width: 80%;  */
}

.tx-item .btn {
	text-align: left !important;
	width: 100%;
/* 	width: 132px; */
}


.tx-row
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.tx-row.tx-row-dummy {
	min-height:10px;
	margin: 0px;
	border: none;
}
.tx-field-holder .field-space {
	border: 1px dashed #aaa;
}

.tx-sortable-placeholder {
	border: 1px solid #eee;
	background-color: #ffa;
	float: left;
	/*position: static !important; *//* override '.col-*-*'. see bootstrap.css */
}
.tx-field-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-ms-filter: "alpha(opacity=10)";
	background-color: #fff; /* IE9 */
	opacity: 0.1; /* IE9 */
	z-index: 10; /* cover bootstrap's .input-group */
}
.field-tab_group > .header {
	height: 23px;
	border: 1px dashed #aaa;
}
.field-tab_group ~ .tx-field-cover,
.field-tab_group ~ .tx-field-controls
{
	height: 23px;
}
.tx-field-cover-active {
	background-color: #8f8;
}
.tx-field-controls {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1010; /* equals to bootstrap's .popover */
}
.tx-field-size-buttons {
	position: absolute;
	top: 25px;
	left: 10px;
}
.tx-field-config-menu {
	position: absolute;
	right: 0px;
}

.tx-row-hover {
	background-color: #f8f8f8;
}

/* modal */
.tx-modal-sortable-placeholder {
	border: 1px solid #eee;
	background-color: #ffa;
}
