.conditional-rules .form-group {
	margin-bottom: 5px;
}
.notification-settings .col-action {
	width: 70px;
}
.basic-rules .events {
	margin-top: 5px;
}
.basic-rules .events label {
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
}
.conditional-rules .label-wrapper {
	padding-right: 0px;
}
