/**
 * view column editor
 */

.tx-items-container li.disabled a {
	color: red;
}

.tx-items-container {
	/* width: 210px; */
	margin: 0;
	padding: 0;
}

#tx-side-affix .panel-body {
	position: relative;
	height:100%;
	padding-right: 0px !important;
}

#tx-items {
	margin: 0px;
	padding: 0px;
	list-style: none;
	position: relative;
	overflow-y: scroll;
	overflow-x: visible;
	height:100%;
	background-color: #fff;
}

.tx-item {
	list-style: none;
 	width: 160px;
}

.tx-item .btn {
	text-align: left !important;
 	width: 100%;
 	text-overflow: ellipsis;
 	overflow: hidden;
}

.tx-row
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.tx-row.tx-row-dummy {
	min-height:10px;
	margin: 0px;
	border: none;
}

.tx-field-holder {
	padding: 0px !important; /* cancel bootstrap's padding */
}

.tx-field-container {
	position: relative;
	padding: 8px; /* equals to bootstrap's padding. */
}

.tx-field-holder .field-space {
	border: 1px dashed #aaa;
}

.tx-sort-disabled .tx-field-holder {
	border: none;
	height: 1em;
}

.tx-sortable-placeholder {
	border: 1px solid #eee;
	background-color: #ffa;
}
.tx-field-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-ms-filter: "alpha(opacity=10)";
	background-color: #fff; /* IE9 */
	opacity: 0.1; /* IE9 */
	z-index: 10; /* cover bootstrap's .input-group */
}
.tx-field-cover-active {
	background-color: #8f8;
}
.tx-field-controls {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1010; /* equals to bootstrap's .popover */
}
.tx-field-size-buttons {
	position: absolute;
	top: 25px;
	left: 10px;
}
.tx-field-config-menu {
	position: absolute;
	right: 0px;
}

.tx-row-hover {
	background-color: #f8f8f8;
}